
body {
  padding: 0%;
  border: 0%;
  margin: 0%;
}

#construction {
  width: 100%;
  position: fixed;
}


/* @media only screen and (max-width: 768px) {
.container {
  width: 100%;
  position: fixed;
}

#construction {
  width: 320%;
  transform: translateX(-1080px);

}
} */
